name: Validate Data Package and Schema

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Install data-cli
        run: |
          npm install
      - name: Validate Data Package and Schema
        run: npm run test